.launchDiv {
    color: white;
    overflow-y: scroll;
    height: 83vh;
    padding: 1rem;
    text-align: center;
}

.launchDiv h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .launchDiv {
        height: 57vh;
    }
}