.homeDiv {
    display: flex;
    color: white;
    height: 87vh;
}

.homecontainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 4rem;
}

@media screen and (max-width: 768px) {
    .homecontainer {
        width: 90%;
        padding: 1rem;
    }

    .homeDiv {
        flex-direction: column;
        height: 68vh;
        overflow-y: scroll;
    }
}