.header {
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.headerlogo {
    width: 40%;
    display: flex;
}

.navLinks {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks select {
    /* appearance: none; */
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

#cars option {
    color: black;
    font-size: 1.5rem;
}

.links {
    color: white;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .navLinks {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .headerlogo {
        width: 100%;
        justify-content: center;
    }
}